
body {
  background-color: #EEEEEE;
}

.bookmarkscontainer > p {
  width: 100%;
  margin-left: 100px;
  text-align:left;
  font-family:'Caveat',cursive;
  margin-top: 150px;
  white-space: nowrap;
  overflow: hidden;
  color: #DCC6E0;
}

span {
  margin-right:20px;
}
