body {
  background-color: #EEEEEE;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 14px;
}

.header {
  font-family: 'caveat', cursive;
  font-size: 4em;
  text-align: center;
  color: #91688F;
  margin-top: 5%;
}

.roadmap {
  text-align: center;
  font-family: 'Caveat', cursive;
  font-size: 1.6em;
  white-space: nowrap;
  overflow: hidden;
  color: #DCDCDC;
  margin-top: 2%
}

span {
  margin-right:20px;
}

 /*
 this is the html that should be in the roadmap,
 changing the span style to whatever page yours is
 <div class = "roadmap">
   <span><img src="./images/Settings.png"> Settings</span>
   <span><img src="./images/WaitingRoom.png"> Waiting Room</span>
   <span><img src="./images/Ideate.png"> Ideate </span>
   <span><img src="./images/Share.png"> Share/Feedback</span>
   <span style="color:#34495E"><img src="./images/Iterate.png"> Iterate </span>
 </div>
*/

.button {
  padding:10px;
  background-color: #EEEEEE;
  color: #68A0A0;
  cursor: pointer;
  width:15%;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #68A0A0;
  border-radius: 10px;
}

.button:hover {
  background-color: #68A0A0;
  color:#EEEEEE;
  border: 2px solid #EEEEEE;
}
