
.Chat_Room{
	position: absolute;
	top:0px;
	height:100%;
	width:25%;
	left: calc(75% - 1px);
	border-style: solid;
	border-left-width:1px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
}
.Type_Here{
	position:absolute;
	bottom:0px;
	width: calc(100% - 58px);
	height:25%;
	border-style: solid;
	border-left-width:0px;
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	resize: none;
}

.Send_Button{
	position:absolute;
	height: calc(25% - 22px);
	padding:10px;
	cursor: pointer;
	width:38px;
	margin-left: calc(100% - 60px);
	border-radius: 5;
	bottom:0px;
	border-width: 1px;
	border-style: solid;
}
.Send_Button:hover{
	background-color: #EEEEEE;
}
/*

		<div class="Chat_Room">
			<div class="Chat_Box">Chat</div>

			<textarea class="Type_Here">Type here</textarea>

			<div class="Send_Button">Send</div>
		</div>




*/
